<style>
    ol {
        list-style: none;
    }
</style>

@{
    ViewBag.Title = "Exam";
}

<h2>Exam</h2>

<p>姓名：莊婕榆 </p>
<p>學號：410919954 </p>

    @{ string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" }; }



    <ol>
        @{
            int i = 0;
            foreach (var item in fruits)
            {
                if (i < fruits.Length)
                {
                    <li> <p>@i : @item</p></li>
                }
                i++;
            }
        }
    </ol>


